/* ---------------------- Colores y Fuentes -------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
/*navbar */
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
/*icono*/
@import url("https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap");
/* footer: font-family: 'Text Me One', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
/* title body: font-family: 'Mochiy Pop P One', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');

:root {
    --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    --color-0: #049baed9;
    --color-1: #1e7898;
    --color-2: #165a72;
    --color-3: #0f3c4c;
    --color-4: #d3eaf2;
    --color-5: #ffffff;
    /* Nuevas variables para el footer, copiadas de contacto.css */
    --font-navbar: "Montserrat", sans-serif;
    --font-logo: "Montserrat";
    --1-color: #07c2b2;
    --2-color: #e3bebb;
    --3-color: #efefef;
}

/* Estilos generales */
body {
    font-family: var(--font);
    font-weight: 600;
    background-image: url(https://i.ibb.co/fH2kDYs/Naranja-Negocios-Servicios-Sitio-Web-4.png);
}

header {
    display: flex;
    justify-content: space-between;
}

h1 {
    color: #0f3c4c;
    margin-left: 2vh;
}

h2 {
    color: #0f3c4c;
    margin-left: 3vh;
}

.card {
    background-color: rgba(0, 221, 255, 0.458);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    width: 200px;
    height: 50px;
}

.card:hover {
    background-color: rgba(0, 174, 201, 0.458);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card a {
    text-decoration: none;
    color: white;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Estilos para el formulario de agendamiento */
#formularioAgendamiento {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

#formularioAgendamiento h2 {
    font-size: 24px;
    color: var(--color-0);
    margin-bottom: 20px;
    text-align: center;
}

#formularioAgendamiento label {
    display: block;
    margin-bottom: 8px;
    color: var(--color-3);
    font-weight: bold;
    /* Limitar el ancho de los labels */
    max-width: 100%;
    overflow-wrap: break-word;
}

#formularioAgendamiento input[type="text"],
#formularioAgendamiento input[type="date"],
#formularioAgendamiento input[type="time"] {
    width: 96%;
    padding: 10px;
    border: 1px solid var(--color-3);
    border-radius: 5px;
}

/* Estilos para el select del formulario de agendamiento */
#formularioAgendamiento select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-3);
    border-radius: 5px;
    appearance: none;
    background: transparent;
}

#formularioAgendamiento select option {
    color: var(--color-3);
    background-color: var(--color-5);
}

#formularioAgendamiento select::after {
    content: '\f078';
    font-family: 'Font Awesome 6 Solid', sans-serif;
    font-size: 14px;
    color: var(--color-3);
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
}

#formularioAgendamiento button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--color-1);
    color: var(--color-4);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

#formularioAgendamiento button[type="submit"]:hover {
    background-color: var(--color-2);
}

/* --------- Footer actualizado (igual que en contacto.css) --------- */
.footer {
    background-color: #0e9a9f;
    width: 100%;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    margin-top: 20px;
    display: flex;
    border-radius: 40px 40px 0 0;
    box-shadow: 0 0 40px rgba(198, 139, 128, 0.2);
    box-sizing: border-box; /* Añadir esta línea */
    max-width: 100%; /* Añadir esta línea */
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
    font-family: sans-serif;
}

.footer .footer-left {
    width: 33%;
    padding-right: 25px;
}

.footer .about {
    line-height: 20px;
    color: #f8f8f7;
    font-size: 19px;
    font-weight: 700;
    margin: auto;
    font-family: var(--font-navbar);
    text-wrap: balance;
    text-align: center;
}

.footer .about span {
    /* título acerca */
    display: block;
    color: #f3f2f2;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.menu a {
    display: flex;
    align-items: center;
}

.footer .icons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.footer .icons a {
    /* iconos redes */
    display: inline-block;
    width: 45px;
    height: 40px;
    cursor: pointer;
    background-color: #0e9a9f;
    border-radius: 2px;
    font-size: 25px;
    color: #fffaf9;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer .footer-center {
    width: 30%;
    padding-left: 50px;
}

.footer .footer-center i {
    /* iconos dirección, ubicación */
    background-color: #f8f7f6;
    color: #0bc1b4;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer .footer-center p {
    /* dirección / número */
    display: inline-block;
    font-family: var(--font-navbar);
    color: #f8f4f1;
    vertical-align: middle;
    margin: 0;
    letter-spacing: 2px;
}

.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer .footer-center p a {
    /* contacto */
    color: #e7e3e0;
    text-decoration: none;
    font-family: var(--font-navbar);
}

.footer .footer-right {
    width: 35%;
}

.footer-right h2 {
    color: #f6f4f3;
    font-size: 36px;
    font-weight: bolder;
    margin: 0;
    font-family: var(--font-navbar);
    text-align: center;
}

.footer-right .titlefooter {
    color: var(--2-color);
    font-weight: bolder;
    font-size: 40px;
}

.footer .menu {
    /* Nombre/logo footer */
    color: #f7f2ef;
    font-family: var(--font-navbar);
    margin: 20px 0 12px;
    padding: 0;
    font-size: 25px;
    text-align: center;
}

.footer .menu a {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    color: inherit;
}

.footer .menu a:hover {
    color: #fef8f7;
}

/* Media queries tomadas también de contacto.css para el footer */

@media (max-width: 879px) {
    .footer-left {
        width: 80%;
    }
    
    .footer-right .menu {
        font-size: 18px;
    }
    
    .footer .footer-center {
        display: flex;
        flex-direction: row;
        font-size: 10px;
        justify-content: center;
        width: 400px;
    }
    
    footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    
    .footer .footer-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer-right .menu {
        width: 500px;
        flex-wrap: nowrap;
        align-items: center;
    }
    
    .footer .footer-center {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 9px;
        padding-left: 0;
        margin: 5px 10px;
    }
    
    .footer .footer-center div {
        justify-content: center;
        align-items: center;
        width: calc(90% / 3);
        display: flex;
        flex-direction: column;
    }
    
    .footer .footer-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
        margin-top: 40px;
        padding-right: 0;
    }
    
    .footer-left p {
        display: flex;
        align-items: center;
    }
    
    .footer .footer-left .about {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        width: 350px;
        font-size: 17px;
    }
}

@media (min-width: 1050px) and (max-width: 1229px) {
    footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    
    .footer .footer-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer-right .menu {
        width: 500px;
        flex-wrap: nowrap;
        align-items: center;
    }
    
    .footer .footer-center {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 720px;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    .footer .footer-center div {
        justify-content: center;
        align-items: center;
        width: 500px;
        display: flex;
        flex-direction: column;
        margin: 10px 20px;
        padding-left: 0;
    }
    
    .footer .footer-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
        margin-top: 40px;
        padding-right: 0;
    }
    
    .footer-left p {
        display: flex;
        align-items: center;
    }
    
    .footer .footer-left .about {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
    }
}

/* Estilos responsivos */
@media screen and (max-width: 767px) {
    #formularioAgendamiento {
        max-width: 90%;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }

    #formularioAgendamiento h2 {
        font-size: 20px;
    }

    #formularioAgendamiento label {
        font-size: 14px;
    }

    #formularioAgendamiento input[type="text"],
    #formularioAgendamiento input[type="date"],
    #formularioAgendamiento input[type="time"] {
        width: 90%;
        padding: 8px;
    }

    #formularioAgendamiento select {
        width: 93%;
    }

    #formularioAgendamiento button[type="submit"] {
        width: 93%;
        padding: 12px;
        font-size: 14px;
        margin-top: 10px;
    }

    .footer {
        padding: 10px 7%;
    }
}

/* Estilos para tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }

    .card {
        width: 180px;
    }

    .card h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    #formularioAgendamiento {
        max-width: 70%;
        padding: 15px;
    }

    #formularioAgendamiento h2 {
        font-size: 22px;
    }

    .footer {
        padding: 20px 9%;
    }
}