/* ----------------------------------- FONDO PRUEBA AUTOESTIMA ---------------------------------- */
body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/013/001/080/original/the-girl-standing-and-hugging-her-self-with-peace-of-mind-and-calm-on-flower-background-mental-health-and-emotional-self-care-concept-flat-illustration-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}