/* ---------------------- Colores y Fuentes -------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
/*navbar */
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
/*icono*/
@import url("https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap");
/* footer: font-family: 'Text Me One', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
/* title body: font-family: 'Mochiy Pop P One', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');

:root {
  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
  --color-0: #049baed9;
  /*0%*/
  --color-1: #1e7898;
  /*20%*/
  --color-2: #165a72;
  /*40%*/
  --color-3: #0f3c4c;
  /*60%*/
  --color-4: #d3eaf2;
  /*80%*/
  --color-5: #ffffff;
  /*100%*/
  --1-color: #07c2b2;
	--2-color: #e3bebb;
	--3-color: #efefef;
	--font-navbar: "Montserrat", sans-serif;
	--font-logo: "Montserrat";
}

/* ------------------------ Estilos del formulario -------------------------- */
* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
}

.navbar {
    margin: 1.4em;
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    box-sizing: border-box;
    font-family: "Source Code Pro";
    position: absolute;
}

.navbar a {
  color: whitesmoke;
	font-size: medium;
	font-weight: bold;
	font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar a:hover {
	/*Efecto de raya bajo y sombreado por encima*/
	color: wheat;
}

.navbar .logo {
	font-size: 2em;
	font-weight: bold;
	margin-top: 0.1em;
	margin-left: 2em;
}

.navbar .nav-links ul {
	display: flex;
	margin-top: 1em;
	align-items: center;
}

.navbar .nav-links ul li {
    margin: 0 1.2em;
}

.nav-links ul li .carro {
	width: auto !important;
	height: auto !important;
	margin: 1 25px;
	text-decoration: none;
	list-style: none;
}

.navbar .nav-links ul li .active a {
    color: #05161A;
    font-weight: 600;
}

.navbar .menu-hamburger {
	display: none;
	position: absolute;
	right: 50px;
	width: 50px;
	padding: 1em;
	cursor: pointer;
}

body {
  background-color: #15d4d7 !important;

}



/* Estilos personalizados para el contenedor izquierdo dentro de contactM */
.leftContainer {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px 0px 0px 10px;
  height: 700px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(15, 152, 156, 0.8)

}

.leftContainer .imgleftcontainer{
  max-width: 510px;
  border-radius: 30px;
  margin-top: 50px;
  min-width: 460px;

}

.contactMain{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: row;
  margin: 200px 20px;
  flex-wrap: wrap;

}
.divcontactform{
  margin-top: 100px ;
}

.textdivleftcontainer {
  /* Si deseas ajustar el ancho del contenedor de texto */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;

}

.leftContainer .textdivleftcontainer h1 {
  font-size: 50px;
  margin-bottom: 70px;
}

.leftContainer .textdivleftcontainer h5 {
  font-size: 15px;
  margin-bottom: 10px;
}

/* Estilos para el texto en el contenedor izquierdo */
#leftContainer h1,
#leftContainer h5,
#leftContainer h6 {
  color: white; /* Cambia el color del texto para que sea visible en el fondo */
}

/* Estilos para el fondo semitransparente del contenedor del formulario */
#rightContainer {
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(15, 152, 156, 0.8);

}

/* Estilos para el formulario */
#contactForm {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}


.form-group {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans";

}

.form-group label {
margin: 10px;
  font-weight: bold;

}

.button, input{
  border-radius: 8px;
  width: 300px;
  text-align: center;
  border-bottom-color: #0e9a9f;
}

input #email .form-control{
  border-bottom-color: #0e9a9f;
}

.form-control{
  height: 30px;
  color: black;
}

.button-container {
  display: flex;
  justify-content: center;
}

#message{
  width: 300px;
  height: 200px;
  max-width: 400px;
  max-height: 250px;
  border-radius: 10px;
}

/*---------Footer----------*/
/*---------Footer----------*/
.footer {
	background-color: #0e9a9f;
	width: 100%;
	text-align: left;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding: 50px;
	margin-top: 20px;
	border-radius: 40px 40px 0px 0px;
	box-shadow: 0px 0px 40px rgba(198, 139, 128, 0.2);
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
	display: inline-block;
	vertical-align: top;
	font-family: sans-serif;
}

/* footer izq*/
.footer .footer-left {
	width: 33%;
	padding-right: 25px;
}

.footer .about {
	line-height: 20px;
	color: #f8f8f7;
	font-size: 19px;
	font-weight: 700;
	margin: auto;
	font-family: var(--font-navbar);
	text-wrap: balance;
	text-align: center;
}

.footer .about span {
	/*titulo acerca */
	display: block;
	color: #f3f2f2;
	font-size: 30px;
	margin-bottom: 20px;
	text-align: center;
}

.menu a {
	display: flex;
	align-items: center;
}

.footer .icons {
	margin-top: 25px;
	display: flex;
	justify-content: center;
}

.footer .icons a {
	/* iconos redes */
	display: inline-block;
	width: 45px;
	height: 40px;
	cursor: pointer;
	background-color: #0e9a9f;
	border-radius: 2px;
	font-size: 25px;
	color: #fffaf9;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

.footer .footer-center {
	width: 30%;
	padding-left: 50px;
}

.footer .footer-center i {
	/* iconos direccion, ubicacion */
	background-color: #f8f7f6;
	color: #0bc1b4;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
}

.footer .footer-center p {
	/*direccion numero*/
	display: inline-block;
	font-family: var(--font-navbar);
	color: #f8f4f1;
	vertical-align: middle;
	margin: 0;
	letter-spacing: 2 px;
}

.footer .footer-center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}

.footer .footer-center p a {
	/*contacto*/
	color: #e7e3e0;
	text-decoration: none;
	font-family: var(--font-navbar);
}

/* footer der*/
.footer .footer-right {
	width: 35%;
}

.footer-right h2 {
	color: #f6f4f3;
	font-size: 36px;
	font-weight: bolder;
	margin: 0;
	font-family: var(--font-navbar);
	text-align: center;
}

.footer-right .titlefooter {
	color: var(--2-color);
	font-weight: bolder;
	font-size: 40px;
}

.footer .menu {
	/* nombre logo footer*/
	color: #f7f2ef;
	font-family: var(--font-navbar);
	margin: 20px 0 12px;
	padding: 0;
	font-size: 25px;
	text-align: center;
}

.footer .menu a {
	display: inline-block;
	line-height: 1;
	text-decoration: none;
	color: inherit;
}

.footer .menu a:hover {
	color: #fef8f7;
}



/* Estilos para el botón Enviar */
#submitButton {
  background-color: var(--color-3); /* Color del botón */
  color: #fff; /* Color del texto del botón */
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
}

#submitButton:hover {
  background-color: #294D61; /* Color del botón al pasar el cursor */
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .leftContainer {
    border-radius: 10px 10px 0px 0px;
  }

  .rightContainer{
    border-radius: 0px 0px 10px 10px;
  }
}


@media (max-width: 879px) {
  .footer-left {
		width: 80%;
	}

	.footer-right .menu {
		font-size: 18px;
	}

	.footer .footer-center {
		display: flex;
		flex-direction: row;
		font-size: 10px;
		justify-content: center;
		width: 400px;
	}

	footer {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}

	.footer .footer-right {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer-right .menu {
		width: 500px;
		flex-wrap: nowrap;
		align-items: center;
	}

	.footer .footer-center {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 400px;
		flex-direction: row;
		flex-wrap: nowrap;
		font-size: 9px;
		padding-left: 0px;
		margin: 5px 10px;
	}

	.footer .footer-center div {
		justify-content: center;
		align-items: center;
		width: calc(90% / 3);
		display: flex;
		flex-direction: column;
	}

	.footer .footer-left {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 500px;
		margin-top: 40px;
		padding-right: 0px;
	}

	.footer-left p {
		display: flex;
		align-items: center;
	}

	.footer .footer-left .about {
		display: flex;
		flex-direction: column;
		margin: auto;
		justify-content: center;
		width: 350px;
		font-size: 17px;
	}
}

@media (min-width: 1050px) and (max-width: 1229px) {
  footer {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}

	.footer .footer-right {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer-right .menu {
		width: 500px;
		flex-wrap: nowrap;
		align-items: center;
	}

	.footer .footer-center {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 720px;

		flex-direction: row;
		flex-wrap: nowrap;
	}

	.footer .footer-center div {
		justify-content: center;
		align-items: center;
		width: 500px;
		display: flex;
		flex-direction: column;
		margin: 10px 20px;
		padding-left: 0px;
	}

	.footer .footer-left {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 500px;
		margin-top: 40px;
		padding-right: 0px;
	}

	.footer-left p {
		display: flex;
		align-items: center;
	}

	.footer .footer-left .about {
		display: flex;
		flex-direction: column;

		margin: auto;
		justify-content: center;
	}
}

