/* ---------------------------------------------------------------------------------------------- */
/*                                    FONDO PRUEBA DE DEPRESIÓN                                   */
/* ---------------------------------------------------------------------------------------------- */
body {
    background-image: url(https://wallpapercave.com/wp/wp8911832.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}