/* ---------------------------------------------------------------------------------------------- */
/*                                    ESTILOS PANEL DE USUARIO                                    */
/* ---------------------------------------------------------------------------------------------- */

:root {
  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
  --color-0: #049baed9;
  --color-1: #1e7898;
  --color-2: #165a72;
  --color-3: #0f3c4c;
  --color-4: #d3eaf2;
  --color-5: #ffffff;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font);
  font-weight: 600;
  background-image: url(https://i.ibb.co/GvJwSsb/Azul-Oscuro-y-Rosa-Sencillo-Oscuro-Tecnolog-a-y-Videojuegos-Sitio-Web-La-Venta-Al-Minorista-12.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  margin-top: 15px;
  margin-left: 11vh;
  margin-right: 11vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Agrega estos estilos a tu archivo CSS */
section {
  background: rgba(189, 213, 216, 0.637);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.794);
  margin: 10px;
  text-align: center;
}

.content-container {
  display: inline-block;
  margin-bottom: 10px;
}

.icon-container {
  display: inline-block;
  margin-right: 10px;
}

.icon {
  margin: 15px;
  width: 60px;
  height: auto;
}

.welcome-section {
  position: relative;
  padding: 5vh;
  text-align: right;
  grid-column: 1 / -1;
  box-shadow: none;
  background-color: transparent;

}

.content h1 {
  color: #0f3c4c;
  font-size: 14vh;
  width: 100%;
  text-align: right;
  align-items: center;
}

.content p {
  text-align: right;
  color: #0f3c4c;
  margin-bottom: 21vh;

}

h1,
h2 {
  color: rgb(8, 84, 110);
}

ul {
  list-style-type: none;
  padding: 0;
}

li,
p {
  font-size: 17px;
  color: rgb(5, 94, 95);
  margin-bottom: 10px;
}

a {
  color: rgb(15, 130, 130);
  text-decoration: none;
}

a:hover {
  color: var(--color-3);
}

/* ----------------------------------------- Responsive ----------------------------------------- */
/* Media queries para dispositivos móviles */
@media (max-width: 767px) {
  main {
    grid-template-columns: 1fr;
  }

  section {
    margin: 10px 0;
  }
}

/* Media queries para tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  main {
    grid-template-columns: 1fr 1fr;
  }

  section {
    margin: 10px;
  }
}