@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
/*navbar */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
/*icono*/
@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');
/* footer: font-family: 'Text Me One', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
/* title body: font-family: 'Mochiy Pop P One', sans-serif;*/

:root {
	--font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
	--color-0: #049baed9;
	--color-1: #1e7898;
	--color-2: #165a72;
	--color-3: #0f3c4c;
	--color-4: #d3eaf2;
	--color-5: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	list-style: none !important;
	text-decoration: none !important;
}

body {
	font-family: var(--font);
	font-weight: 600;
	margin: 0;
	padding: 0;
}

header {
	font-family: var(--font) !important;
	height: 100px !important;
	width: 100px !important;
}

.navbar {
	position: absolute !important;
	margin: 1.4em !important;
	margin-top: 4vh !important;
	display: flex !important;
	justify-content: space-between !important;
	align-items: left !important;
	width: 93% !important;
	box-sizing: border-box !important;
	font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.navbar a {
	color: whitesmoke;
	font-size: medium;
	font-weight: bold;
	font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar a:hover {
	/*Efecto de raya bajo y sombreado por encima*/
	border-bottom: 2px solid white;
}

.navbar .logo {
	font-size: 2em;
	font-weight: bold;
	margin-top: 0.1em;
	margin-left: 2em;
}

.navbar .nav-links ul {
	display: flex;
	margin-top: 1em;
}

.navbar .nav-links ul li {
	margin: 0 1.2em;
}

.nav-links ul li .carro {
	width: auto !important;
	height: auto !important;
	margin: 1 35px;
	text-decoration: none;
	list-style: none;
}

.navbar .nav-links ul li .active a {
	color: #05161A;
	font-weight: 600;
}

.navbar .menu-hamburger {
	display: none;
	position: absolute;
	right: 50px;
	width: 50px;
	padding: 1em;
	cursor: pointer;
}

menuIcon {
	display: none;
}

/*img nav*/
#gif1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-position: center;
	z-index: -1;
}

/*Descripcion*/
#description1 {
	/*Texto de ¿no te entienden?*/
	font-size: 40px;
	bottom: 100px;
	font-family: "Montserrat";
	font-weight: bold;
	margin-top: 50vh;
	text-align: center;
	margin-left: 40px;
	margin-right: 40px;
	padding: 60px;
	color: #0e9a9f;
}

h3 {
	text-align: left;
	margin-left: 20px;
	margin-right: 40px;
	padding: 40px;
}

.E {
	margin-left: 60px;
	margin-right: 125vh;
	text-align: left;
	background-color: #ffffff;
}

#titledescription2 {
	font-size: 30px;
	margin: 0;
	margin-left: -14vh;
}

#imgdescription {
	display: block;
	align-items: right;
	text-align: right;
	flex-direction: row;
	width: 700px;
	margin-left: 80vh;
	margin-top: -72vh;

}

/*Descripcion*/

.centered {
	text-align: center;
	display: table;
	border-radius: 1rem;
}

/*¡Qué placer tenerte aquí, conócenos!*/
#titledescription {
	text-align: center;
	float: left;
	position: relative;
	margin-top: 30vh;
	margin-left: 36vh;
	border-radius: 70px;
	background-position: center;
	color: rgb#444;
	font-size: 50px;
	padding: .7rem 2rem;
	font-weight: semibold;
	font-family: "Montserrat";
	background-color: #eeeeee;
	border: 1px solid #eee;
	cursor: pointer;
	transition: 1s ease;
	box-shadow: .5rem .5rem .5rem #ccc,
		-.5rem -.5rem 1rem #fff;
}

#titledescription:hover {
	box-shadow: .5rem -.5rem 1rem #ccc,
		.5rem .5rem 1rem #fff;
}

/*Efecto que hace parecer que escribe*/
#titledescription span {
	position: absolute;
	height: 55px;
	right: 10px;
	width: 0;
	border-left: 0.3px solid #000000;
	color: #000000;
	background: #eee;
	animation: escribir 6s infinite alternate steps(35);
}


@keyframes escribir {
	from {
		width: 97%;
	}

	to {
		width: 3;
	}
}

/*-------mision vision--------*/

#containermivi {
	margin-top: 100px;
	margin-bottom: 50px;
	box-shadow: 0px 0px 40px rgb(255, 253, 252);
	border-radius: 50px 49px 49px 49px;
	background: #fffefe;
	width: 1200vh;
	text-align: right;
}

#imgmivi {
	display: block;
	align-items: left;
	text-align: left;
	flex-direction: row;
	width: 490px;
	margin-top: 9vh;
	margin-left: 1vh;
}

.titlemivi {
	text-align: left;
	font-weight: 900px;
	font-size: 30px;
	margin-left: 10vh;

}

.textmivi {
	text-align: left;
	font-size: 19px;
	margin-left: 50px;
}

/*--mision vision fin--*/


/*-------equipo de trabajo----------*/

#divworkteam {
	width: 100%;
	font-family: "Montserrat";
	color: #000000;
}

#textteam {
	text-align: left;
	font-size: 18px;
	margin-left: -50px;
	color: #000000;
	font-weight: bold;
}

.workteam {
	text-align: center;
	margin-top: 25px;
	padding-top: 20px;
	border-radius: 38px 38px 38px 38px;
	background: #ffffff;
	font-weight: 500;
}

#textacord {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: justify;
	flex-direction: column;
	font-size: 14px;
	color: #000000;
	padding: 5px 30px 5px 30px;

}

#titleacord1,
#titleacord2,
#titleacord3 {
	/*pendiente fuente*/
	/*Titulo del acordeon*/
	font-size: 26px;
	display: flex;
	justify-content: center;
	text-align: center;
	width: 100%;
	font-weight: bolder;
	letter-spacing: 2px;
	color: #000000;
}

#team-img {
	border-radius: 30px 30px 30px 30px;
}

/*--equipo trabajo fin--*/

/*---------Footer----------*/
.footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: var(--color-0);
	color: white;
	margin-top: 20vh;
	padding: 2vh 9%;
	height: auto;
}

.footer-left {
	flex-basis: 100%;
	margin-bottom: 2px;
	text-align: right;
}

/*Bogotá*/
.footer-center .cont {
	width: 97%;
	flex-basis: 50%;
	text-align: right;
	margin-bottom: 1.8vh;
	margin-top: -9vh;
	color: #fffefd;
	font-weight: lighter;
	font-size: 2.4vh;
}

.footer-right {
	flex-basis: 80%;
	text-align: right;
}

.footer h2 {
	font-size: 18px;
	font-weight: 70;
	color: white;
	line-height: 4px;
	margin: 0;
}

.footer p {
	color: white;
	width: 30%;
	font-size: 14px;
	margin: 0;
	text-align: left;
	padding: 3px;
}

.footer .about {
	margin-bottom: 10px;
	font-size: 9vh;
	color: white;
}

.footer .aboutUs {
	font-size: 2vh;
}

.footer .icons {
	margin-top: 6vh;


}

.footer .icons a {
	color: white;
	margin-right: 6vh;
	text-align: right;
	margin-left: -2vh;
	font-size: 8vh;
	flex-direction: row;

}