/*formateo de estilos*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    height: 100vh;
    width: 100vw;
    background: url(https://i.ibb.co/TrrfK0g/B-TOP.jpg)no-repeat;
    background-size: cover;
}

.navbar {
    position: absolute;
    margin: 1.4em;
	margin-top: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 93%;
    box-sizing: border-box;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar a {
    color: whitesmoke;
    font-size: medium;
    font-weight: bold;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar a:hover{ /*Efecto de raya bajo y sombreado por encima*/
	border-bottom: 2px solid white;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.1em;
    margin-left: 2em;
}

.navbar .nav-links ul {
    display:flex;
    margin-top: 1em;
}

.navbar .nav-links ul li {
    margin: 0 1.2em;
}

.nav-links ul li .carro {
    width: auto !important;
    height: auto !important;
    margin: 1 35px;
    text-decoration: none;
    list-style: none;
}

.navbar .nav-links ul li .active a {
    color: #05161A;
    font-weight: 600;
}

img{
	margin-top: -1.7vh;
	border-bottom: none;
}

.hero {
    display: grid;
    place-content: center;
}

h1 {
    /*Atiende*/
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 7em;
    line-height: .8em;
    color: rgb(245, 249, 249);
    background-color: #92b5b800;
    border-radius: 1em;
    margin: 0 0 10px;
    margin-top: 1.8em;
	margin-left: -8vh;
}

.hero h3 {
    /*Que llevas...*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 53px;
    font-weight: 500;
    color: rgb(247, 246, 247);
    background-size:cover;
    border-radius: 15px;
    margin-bottom: 3px;
	margin-left: -8vh;
}

.hero p {
    /*Toda persona...*/
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(239, 234, 244);
    font-size: 18px;
    line-height: 1.9;
    margin-bottom: 1em;
	margin-left: -8vh;
	position: relative;
}

.boton-container {
    /* Estilos del contenedor del botón */
    display: flex;
    justify-content:flex-start;
    align-items:baseline;
    margin-top: 60px;
    height: 10vh;
  }

.boton {
    /*botón*/
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(241, 236, 236);
    background-color: #0c6976f4;
    border: none;
    padding: 0.9em 1em;
    line-height: 0.7;
    font-size: 1.3em;
    border-radius: 42px;
    font-weight: 800;
    position: fixed;
    transition: all 0.40 ease;
    width: 7em;
    display: inline-block;
	margin-left: -8vh;
	margin-top: 1vh;
}
	

.hero a:hover {
    background: rgba(0, 137, 147, 0.948);
    border: 3px solid;
    transform: translate(18px);
}

.hero a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(11, 104, 92), rgb(15, 235, 224));
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;

}
@keyframes glowing {
    0%{ background-position: 0 0;}
    50%{ background-position: 400% 0;}
    100%{ background-position: 0 0;}
}

.icons {
    z-index: 2;
    position: absolute;
    top: 50%;
    padding: 0 10%;
    transform: translateY(-60%);
}

.icons i {
    display: block;
    margin: 26px 0;
    font-size: 28px;
    color: white;
    transition: all 0.50s ease;
}

.icons i:hover {
    color: rgb(12, 186, 189);
    transform: translateY(-7px);
}

section {
    padding: 0 20%;
}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    right: 50px;
    width: 50px;
    padding: 1em;
    cursor: pointer;
}

menuIcon {
    display: none;
}

@media screen and (max-width:750px) {
    .navbar .logo {
        font-size: 32px;
        line-height:.2;
        text-align: center;
        color:#fff!important ;
        background-color: #83227e;
        border-radius: 6px;
        height: auto;
        max-width: inherit;
        min-width:inherit;
        box-shadow:none !important;
        transition: all ease-in-out 0s;
        position: absolute;
        z-index: 12;
        justify-content: center;
        align-items: center;

    }
    .boton-container {
        /* Estilos del contenedor del botón */
        display:flex;
        justify-content:flex-end;
        align-items:baseline;
        margin-top: 300px;
        z-index: 12;
      }
      .hero a::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, rgb(70, 11, 104), rgb(15, 235, 224));
        background-size: 800%;
        border-radius: 10px;
        filter: blur(8px);
        animation: glowing 20s linear infinite;
    
    }

    .navbar {
        padding-right: 0;
        margin: 0;
    }

    .navbar .logo {
        position: fixed;
        left: 1em;
        margin-top: 50px;
		margin-left: 21px;
    }

    .navbar .menu-hamburger {
        margin-top: 100px;
        display: block;
        z-index: 12;
      
    }

    .nav-links {
        top: 0;
        z-index: 10;
        position: absolute;
        background-color: rgba(36, 96, 139, 0.376);
        backdrop-filter: blur(10px);
        width: 40%;
        height: 45vh;
        display: flexbox;
        justify-content: center;
        align-items: center;
        margin-left: 67%;
        transition: all 0.5s ease;


    }

    .nav-links.mobile-menu {
        margin: 0;
        padding: 0;
        width: 100px;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: -50px 50px;
		margin-top: 9vh;
        font-size: 1.2em;
    }

    .hero-text {
        display: none;
        text-align: left;
    }
}
