@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

* {
    font-family: var(--font);
    list-style: none;
    text-decoration: none !important;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fbfbfb61;
}

.navbar {
    position: absolute;
    margin: 1.4em;
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 93%;
    box-sizing: border-box;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar a {
    color: whitesmoke;
    font-size: medium;
    font-weight: bold;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar a:hover {
    /*Efecto de raya bajo y sombreado por encima*/
    border-bottom: 2px solid white;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.1em;
    margin-left: 2em;
}

.navbar .nav-links ul {
    display: flex;
    margin-top: 1em;
}

.navbar .nav-links ul li {
    margin: 0 1.2em;
}

.nav-links ul li .carro {
    width: auto !important;
    height: auto !important;
    margin: 1 35px;
    text-decoration: none;
    list-style: none;
}

.navbar .nav-links ul li .active a {
    color: #05161A;
    font-weight: 600;
}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    right: 50px;
    width: 50px;
    padding: 1em;
    cursor: pointer;
}

menuIcon {
    display: none;
}

img {
    margin-top: -1.9vh;
}

.containerservice {
    display: row;
    flex-direction: column;
    width: 100%;
}

.font-weight {
    width: -9%;
    font-weight: bold;
    text-align: left;
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell var(--1er-color);
    margin-left: 12vh;

}

.tp {
    /*Terapia de pareja (Título)*/
    margin-left: 10vh;
}

.ti {
    margin-left: -90vh;
}

.subtitlecard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3vh;
    border-radius: 13px 103px 10px 10px;
    padding: 30px 90px 0px 50px;
    font-weight: lighter;
    width: 54%;
}

.parejas {
    width: 45%;
    margin-left: 92vh;
    margin-top: -90vh;
}

/**** Imagen de fondo primera página ***/
.bannerservices {
    padding: 0;
    margin: 0;
    background-image: url(https://i.ibb.co/tKChtjP/Servicios.png);
    background-size: cover;
    background-color: #055f5e51;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 800px;
    background-blend-mode: multiply;
    background-size: cover;
}

/* Botón*/
.boton {
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(241, 236, 236);
    background-color: #f563bbc0;
    border: none;
    padding: 0.8em 1em;
    line-height: 1;
    font-size: 1.3em;
    border-radius: 42px;
    font-weight: 800;
    position: relative;
    transition: all 0.40 ease;
    width: 9em;
    display: flex;
    z-index: 2;
    margin-left: 24vh;
    margin-top: -60vh;
    margin-bottom: 5vh;
}

.boton:hover {
    background: rgba(255, 98, 174, 0.948);
    border: 3px solid;
    transform: translate(18px);
}

.boton::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(240, 194, 222, 0.903), rgb(232, 108, 147));
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;

}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.bannerservices h1 {
    text-align: left;
    color: rgb(255, 255, 255);
    width: 550px;
    margin-left: 25vh;
    margin-top: -28vh;
}

p {
    display: block;
    color: aliceblue;
    text-align: center;
}

.icons {
    z-index: 2;
    position: absolute;
    top: 50%;
    padding: 0 5%;
    transform: translateY(-60%);
}

.icons i {
    display: block;
    margin: 16px 0;
    margin-top: 3vh;
    font-size: 28px;
    color: white;
    transition: all 0.50s ease;
}

.icons i:hover {
    color: rgb(12, 186, 189);
    transform: translateY(-7px);
}

.icontepi {
    width: 50%;
}

/********/

/*Botón agenda tu cita*/
.buttonservices {
    font-weight: bolder;
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding: 20px 30px;
    border: 2px solid #1ffae8;
    background-color: #08978e;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(30);
    cursor: pointer;
    margin: 9vh 80vh 10vh 12vh;
}

.buttonservices:hover {
    transition: 800ms;
    padding: 15px 50px;
    transform: translateY(-0px);
    background-color: #ff709b;
    color: white;
    border: solid 2px #f9c5dd;
    font-weight: bolder;

}

/*************/

/*Evaluacion Psicologica*/
.containerevalpsi {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 3.2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 90%;
    margin-top: 30vh;
    margin-bottom: 2vh;
    margin-left: 13vh;
}

.containertexteval {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    width: 89%;
}

/*Botón Haz una prueba*/
.prueba {
    color: rgb(3, 70, 72);
    background-color: #63ebf5c0;
    box-shadow: rgb(5, 142, 152) 0px 0px 0px 0px;
    cursor: pointer;
    padding: 1em .9em;
    font-size: 1em;
    border-radius: 42px;
    font-weight: 600;
    transition: all 0.40 ease;
    width: 10em;
    flex-direction: row;
    margin-left: 130vh;
    margin-top: -7vh;
    margin-bottom: 7vh;
}

.prueba:hover {
    background: rgba(4, 186, 161, 0.948);
    border: 3px solid;
    transform: translate(18px);
}

.prueba::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(194, 240, 238, 0.903), rgb(108, 232, 228));
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;

}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.titleevalpsi {
    /*Evaluacón psicológica*/
    width: 89%;
    margin-top: 40vh;
    margin-left: -13vh;
    text-align: right;
    margin-bottom: 1px;
    font-weight: bolder;
    font-size: 6vh;
    color: #072e33;
    padding: 10px;
}

.imgevalpsi {
    width: 14vh;
    text-align: left;
    border-radius: 10px 0px 0px 7px;
}

.imgevalpsi img {
    width: 500px;
    padding: 4px;
    margin-top: -19vh;
}

.textevalpsi {
    /*Texto bajo evaluación pscológica*/
    width: 90%;
    display: flex;
    align-items: flex-start;
    padding: 30px 0px 0px 100px;
    text-align: left;
    font-size: 24px;
    border-radius: 10px 0px 0px 30px;
    margin-left: 57vh;
    font-weight: lighter;
}

/*Terapia Individual*/
.containerind {
    margin-left: 2vh;
    margin-top: 100px;
    margin-bottom: 10vh;
    font-size: 4vh;
    font-weight: bold;
    color: #072e33;
    width: 89%;
    position: relative;
}

.img2 {
    flex-direction: row;
    position: absolute;
    left: 90vh;
    margin-top: -50vh;
    width: 653px;
}

.sueltas {
    color: #0c2839;
    font-size: 9vh;
    margin-left: -55vh;
    margin-top: 5vh;
    margin-bottom: 20vh;
}

.enfoques {
    color: #0e4757;
    width: 95%;
    font-size: smaller;
    font-weight: lighter;
    margin-top: -20vh;
    margin-bottom: 9vh;
}

.cardtepi {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    margin-left: 9vh;
    width: calc(80% / 4);
}

.onecardtepi {
    width: auto;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: left;
    border-radius: 20px;
    text-align: justify;
}

.onecardtepi:hover {
    transform: scale(1.05);
    background-color: #17b5bb00;
    letter-spacing: 0px;
}

.onecardtepi p {
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    font-size: 13px;
    color: rgba(4, 60, 75, 0.832);
    font-weight: lighter;
}

.onecardtepi h5 {
    text-align: center;
    font-weight: bold;
}

/*Terapia Pareja*/
.containertepa {
    width: 90%;
    margin-left: 40px;
    margin-top: 7vh;
    font-weight: bolder;
    font-size: 4vh;
    color: #072e33;
}

.onecardtepa {
    width: auto;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    text-align: justify;
}

.onecardtepa:hover {
    transform: scale(1.03);
    background-color: #0c2839;
}

.onecardtepa p {
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
    font-size: 13px;
}

.onecardtepa h5 {
    text-align: center;
    font-weight: bold;
}

.cardtepa {
    display: flex;
    margin-bottom: 40px;
    margin-top: 10px;
    width: calc(99% / 3);
    justify-content: center;
    margin-left: 6vh;
}

/*************/

/*Terapia Infantil*/
.containerteinf {
    margin-left: 2vh;
    margin-top: -9vh;
    font-size: 4vh;
    color: #012d2dfc;
    text-align: left;
    justify-content: left;
}

.ti {
    margin-left: 20vh;
    margin-top: 5vh;
    font-size: 10vh;
}

.titleteinf {
    background: url(https://i.ibb.co/SR1b5YW/Naranja-Negocios-Servicios-Sitio-Web-1.png) no-repeat;
    background-size: cover;
    color: white;
    padding: 10vh;
    font-weight: bolder;

}

.top {
    color: #05161a;
    margin-top: 0vh;
}

.parra {
    width: 70%;
    font-weight: lighter;
    text-align: center;
    margin-left: 37vh;
}

.button {
    font-weight: bolder;
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding: 20px 30px;
    border: 2px solid #1ffae8;
    background-color: #08978e;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(30);
    cursor: pointer;
    margin: 10vh -5vh 14vh 12vh;
}

.button:hover {
    transition: 800ms;
    padding: 15px 50px;
    transform: translateY(-0px);
    background-color: #ff709b;
    color: white;
    border: solid 2px #f9c5dd;
    font-weight: bolder;
}

.onecardteinf {
    width: 100%;
    height: 290px;
    color: #072e33;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    border-color: 2px solid #db8d5100;
    margin-top: 16vh;
    margin-bottom: 10vh;
    margin-left: 10vh;
}

.onecardteinf:hover {
    transform: scale(1.03);
    background-color: #5e97ba00;
    letter-spacing: 0px;
}

.onecardteinf p {
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
    font-size: 18px;
}

.onecardteinf h5 {
    text-align: center;
    font-weight: bold;
}

.cardteinf {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 10px;
    width: calc(90% / 3);
    justify-content: center;
}

/*************/
.footer {
    background-color: #fafafa;
    font-family: 'Bowlby One', cursive;
    width: 100%;
    text-align: center;
    margin: 10px 0px;
    padding: 2px;
    color: #1ffae8;

}

.footer-row {

    width: 100%;
    font-size: 30px;
}

.title-footer {

    width: 100%;
    font-size: 50px;
    font-weight: bolder;
}

@media screen and (max-width:750px) {
    .bannerservices h1 {
        text-align:center;
        font-size: 2px;
        color: rgb(255, 255, 255);
        width: 250px;
       height: auto;
       
    }
    /* Botón responsive*/
.boton {
    
    color: rgb(241, 236, 236);
    background-color: #f563bbc0;
    border: none;
    padding: 0.8em 1em;
    line-height: 1;
    font-size: 1.3em;
    border-radius: 42px;
    font-weight: 800;
    position:absolute;
    transition: all 0.40 ease;
    width: 10em;
    display:flex;
    z-index: 2;
    margin-left: 28vh;
    margin-top: -45vh;
    margin-bottom: 5vh;4
}

.boton:hover {
    background: rgba(255, 98, 174, 0.948);
    border: 3px solid;
    transform: translate(18px);
    position: relative;
}

.boton::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(240, 194, 222, 0.903), rgb(232, 108, 147));
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;

}


    .navbar {
        padding-right: 0;
        margin: 0;
    }

    .navbar .logo {
        position: fixed;
        left: 1em;
        margin-top: 50px;
		margin-left: 21px;
    }


    .navbar .menu-hamburger {
        margin-top: 60vh;
        display: block;
        z-index: 12;
        
    }

    .nav-links {
        top: 0;
        z-index: 10;
        position: absolute;
        background-color: rgba(36, 50, 50, 0.472);
        backdrop-filter: blur(10px);
        width: 40%;
        height: 100vh;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-left: 67%;
        transition: all 0.5s ease;
    }

    .nav-links.mobile-menu {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: right;
    }

    .navbar .nav-links ul li {
        margin: 25px 30px;
		margin-top: 9vh;
        font-size: 1.2em;
    }
    /*Evaluacón psicológica Responsive*/
    .titleevalpsi {
        
        width: -3%;
        margin-top: 1px;
        margin-left:8px;
        text-align: center;
        margin-bottom: 1px;
        font-weight: bolder;
        font-size: 10vh;
        color: #072e33;
        padding: 1px;
    }
    
    .imgevalpsi{
        display: none;
    }
    .textevalpsi{
    display: flex;
    justify-content: center;
    margin-left: 3vh;
   
    }
}
  
  